<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>


<body>
    <br>
    <h1 class="cabecera">PRODUCTOS DEL ALMACEN</h1>
    <form class="abcProducts" action="/" method="post">
        <label for="product">Nombre del producto: </label>
        <input type="text" placeholder="Nombre" required id="product" >
        <label for="cantidad">Cantidad: </label>
        <input type="number" placeholder="Cantidad"  required id="cantidad">
        <label for="precio">Precio: </label>
        <input type="number" step="2" placeholder="Precio" required id="precio" >
        <label for="fecha">Fecha de compra: </label>
        <input type="date" placeholder="Fecha"  required id="fecha">
        <div class="botones">
        <button>AGREGAR</button>
        <button>ELIMINAR</button>
        <button>ACTUALIZAR</button>
        </div>
        
    </form>
</body>



</html>