<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>


<body>
    <br>
    <h1 class="cabecera">DIETÉTICA</h1>
    <form class="abcProducts" action="/" method="post">
        
        <label for="nombre">Nombre: </label>
        <input type="text" placeholder="Nombre" required id="nombre" >
        <label for="codigo">Codigo de color: </label>
        <input type="text" placeholder="Codigo de color"  required id="codigo">
        <label for="clave">Clave: </label>
        <input type="text"  placeholder="Clave" required id="clave" >
        <label for="description">Descripcion: </label>
        <textarea placeholder="Descripcion"  required id="description" ></textarea>

        <label for="aplicacion">Aplicacion: </label>
        <textarea  placeholder="Aplicacion" required id="aplicacion" ></textarea>
        <div class="botones">
        <button>AGREGAR</button>
        <button>ELIMINAR</button>
        <button>ACTUALIZAR</button>
        </div>
        
    </form>
</body>

</html>
