
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <script src= "https://kit.fontawesome.com/e37924331b.js" crossorigin="anonymous"></script>
       
        <title> Login </title>
        
    </head>
   
        <body>
            <h1 class="header">ÁREA DE NUTRICIÓN Y DIETÉTICA IMSS</h1>
                <form class="login">    
                    <p> INICIO DE SESIÓN</p>
                        
                    <input type="text" placeholder="Introduce tu usuario" required id="user" >
                    <input type="password" placeholder="Introduce tu contraseña"  required id="password">
                        <div class="centrar">
                            <button (click)="btnlogin()" class="boton" type="button" id="boton" value="Iniciar sesion" >
                                Entrar
                                <span> <i class="fa-solid fa-right-to-bracket"></i></span>
                            </button>
                        </div>   
                </form>
                   
                </body>
  